.articleImage {
    border: solid #DDD 1px;
    padding:1px;
    border-radius:10px
}

.article {
    padding: 0px;
    background: #898989 !important;
    border-radius: 10px;
}

.jumbotron {

}

.article {
    align-content: center;

}

.bannerTop {
    background-image: url( 'header_bg.png' );
    background-position: center;
    color: #e8e8e8 !important;
}
.bannerTop small {
    color: #d5d5d5 !important;
}

.mainPage {
    background: #B0BEC5 !important;
    padding: 10px;
    border-radius: 10px;
}

.articleBody {
    border-radius: 10px;
    background-color: #CCC;
    padding: 20px;
    margin: 5px;
}

.articleImageShow {
    margin:auto;
    padding:10px;
    background-color: #aaaaaa;
    border-radius: 10px;
    text-align: center;
    width:auto;
}

.image {
    border-radius: 10px;
    border: solid #3c3c3c;
    width:90%
}

.articleButtons {
    margin:5px;
}

.commentHead {
    padding:5px;
    background-color: #999;
    border-radius: inherit;
}

.comment {
    border-radius: 10px;
    background-color: #CCC;
    padding:2px;
    margin: 5px;
}

html, body{
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}
.bg{
    width:100%;
    height:100%;
    background: #fff url('bg.jpg') no-repeat fixed 0 0;
    overflow:auto;
}
/*# sourceMappingURL=app.css.map */

#main {
    background: url('nebula021514_2016.jpg') center top no-repeat;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: right top, left top, center top;
}

.main {
    background: url('nebula021514_2016.jpg') center top no-repeat;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: right top, left top, center top;
}